<div class="popup-company" data-id="{{id}}">
    <div class="popup-title">
        {{popupTitle}}<span class="popup-close"></span>
    </div>
    <div class="popup-content">
        门诊／住院单位：
        <div class="popup-list">
            {{#each content.standard}}
                <div class="popup-item" data-id="{{id}}">
                    <input type="text" class="item-input convertRatio" value={{convertRatio}} disabled>
                    <select  class="item-select unit" disabled>
                        <option value="{{unit}}">{{unit}}</option>
                    </select>
                    <input type="text" class="item-input fConvertRatio" value={{fConvertRatio}} disabled>
                    <select  class="item-select last-select formatUnit" disabled>
                        <option value="{{formatUnit}}">{{formatUnit}}</option>
                    </select>
                </div>
            {{/each}}
            {{#each content.unstandard}}
                <div class="popup-item unstandard" data-id="{{id}}">
                    <input type="text" class="item-input convertRatio" value={{convertRatio}}>
                    <select  class="item-select unit">
                        <option value="{{unit}}">{{unit}}</option>
                    </select>
                    <input type="text" class="item-input fConvertRatio" value={{fConvertRatio}}>
                    <select  class="item-select last-select formatUnit">
                        <option value="{{formatUnit}}">{{formatUnit}}</option>
                    </select>
                </div>
            {{/each}}
        </div>
        <div class="btn-group">
            <div class="btn add-unit">新增</div>
            <div class="btn save-unit">保存</div>
        </div>
    </div>
</div>