<table class="table">
    {{#each tbody}}
        <tr data-id={{ID}}>
            <td><div class="table-text">{{YPID}}</div></td>
            <td><div class="table-text">{{PZ_CODE}}</div></td>
            <td><div class="table-text">{{YJ_ID}}</div></td>
            <td><div class="table-text">{{CODE}}</div></td>
            <td><div class="table-text">{{DRUG_TYPE}}</div></td>
            <td><div class="table-text">{{NAME_CN_F}}</div></td>
            <td><div class="table-text">{{PROD_TRADE_F}}</div></td>
            <td><div class="table-text">{{SML_NAME_F}}</div></td>
            <td><div class="table-text">{{SPEC_F}}</div></td>
            <td><div class="table-text">{{FAC_NAME_F}}</div></td>
            <td><div class="table-text">{{PROD_PZWH_F}} {{PROD_ZCZH_F}}</div></td>
            <td><div class="table-text select-than">选择</div></td>
        </tr>
    {{/each}}
</table>