共查找出 {{total}} 条数据：
<span class="jbywCount"><span class="text">基药</span><a href="javaScript:void(0)" class="color-blue">({{jbywCount}})</a></span>&nbsp;
<span class="yblbCount"><span class="text">医保</span>(<a href="javaScript:void(0)" class="color-blue">{{yblbCount}}</a>)</span>&nbsp;&nbsp;
<span class="wtsjCount"><span class="text">问题数据</span>(<a href="javaScript:void(0)" class="color-red">{{wtsjCount}}</a>)</span>&nbsp;
<span class="wbdCount"><span class="text">未比对</span>(<a href="javaScript:void(0)" class="color-red">{{wbdCount}}</a>)</span>&nbsp;
<span class="ybdCount"><span class="text">已比对</span>(<a href="javaScript:void(0)" class="color-blue">{{ybdCount}}</a>)</span>&nbsp;&nbsp;
<span class="rsyyCount"><span class="text">妊娠用药</span>(<a href="javaScript:void(0)" class="color-blue">{{rsyyCount}}</a>)</span>
<a href="javaScript:void(0)" class="download color-blue"><img src="./images/icon-download.png" class="icon-download">下载</a>