<div class="search-data-lf">
    共查找出 {{total}} 条数据：
</div>
<div class="search-data-rt">
    <a href="javaScript:void(0)" class="search-all"><span class="text">全部</span></a>&nbsp;
    <a href="javaScript:void(0)" class="xy"><span class="text">西药</span>(<span class="color-blue">{{#if xyCount}}{{xyCount}}{{else}}0{{/if}}</span>)</a>&nbsp;
    <a href="javaScript:void(0)" class="zcy"><span class="text">中成药</span>(<span class="color-blue">{{#if zcyCount}}{{zcyCount}}{{else}}0{{/if}}</span>)</a>&nbsp;
    <a href="javaScript:void(0)" class="sms"><span class="text">说明书</span>(<span class="color-blue">{{#if smsCount}}{{smsCount}}{{else}}0{{/if}}</span>)</a>&nbsp;
    <a href="javaScript:void(0)" class="jbyw"><span class="text">基药</span>(<span class="color-blue">{{#if jbywCount}}{{jbywCount}}{{else}}0{{/if}}</span>)</a>&nbsp;
    <a href="javaScript:void(0)" class="kjyw"><span class="text">抗菌药物</span>(<span class="color-blue">{{#if kjywCount}}{{kjywCount}}{{else}}0{{/if}}</span>)</a>&nbsp;
    <a href="javaScript:void(0)" class="zcyzsj"><span class="text">中成药注射剂</span>(<span class="color-blue">{{#if zcyzsjCount}}{{zcyzsjCount}}{{else}}0{{/if}}</span>)</a>&nbsp;
    {{#if showRsyyCount}}
        <a href="javaScript:void(0)" class="rsyy"><span class="text">妊娠用药</span>(<span class="color-blue">{{#if rsyyCount}}{{rsyyCount}}{{else}}0{{/if}}</span>)</a>
    {{/if}}
    <a href="javaScript:void(0)" class="xyzp"><span class="text">血液制品</span>(<span class="color-blue">{{#if xyzpCount}}{{xyzpCount}}{{else}}0{{/if}}</span>)</a>&nbsp;
    <a href="javaScript:void(0)" class="tpzjs"><span class="text">糖皮质激素</span>(<span class="color-blue">{{#if tpzjsCount}}{{tpzjsCount}}{{else}}0{{/if}}</span>)</a>&nbsp;
    <a href="javaScript:void(0)" class="nlyy"><span class="text">能量用药</span>(<span class="color-blue">{{#if nlyyCount}}{{nlyyCount}}{{else}}0{{/if}}</span>)</a>&nbsp;
    <a href="javaScript:void(0)" class="ppi"><span class="text">PPI</span>(<span class="color-blue">{{#if ppiCount}}{{ppiCount}}{{else}}0{{/if}}</span>)</a>&nbsp;
    <a href="javaScript:void(0)" class="jmdf"><span class="text">精麻毒放</span>(<span class="color-blue">{{#if jmdfCount}}{{jmdfCount}}{{else}}0{{/if}}</span>)</a>&nbsp;
    <a href="javaScript:void(0)" class="fzyy"><span class="text">辅助用药</span>(<span class="color-blue">{{#if fzyyCount}}{{fzyyCount}}{{else}}0{{/if}}</span>)</a>&nbsp;
    <a href="javaScript:void(0)" class="yblb"><span class="text">医保</span>(<span class="color-blue">{{#if yblbCount}}{{yblbCount}}{{else}}0{{/if}}</span>)</a>&nbsp;&nbsp;
    <a href="javaScript:void(0)" class="ybd"><span class="text">已比对</span>(<span class="color-blue">{{#if ybdCount}}{{ybdCount}}{{else}}0{{/if}}</span>)</a>&nbsp;&nbsp;
    <a href="javaScript:void(0)" class="wbd"><span class="text">未比对</span>(<span class="color-red">{{#if wbdCount}}{{wbdCount}}{{else}}0{{/if}}</span>)</a>&nbsp;
    <a href="javaScript:void(0)" class="wtsj"><span class="text">问题数据</span>(<span class="color-red">{{#if wtsjCount}}{{wtsjCount}}{{else}}0{{/if}}</span>)</a>&nbsp;
</div>