<div class="search-data-lf lf">
    共查找出 {{total}} 条数据：
    <a href="javaScript:void(0)" class="noData"><span class="text">西药</span><span class="color-blue">()</span></a>&nbsp;
    <a href="javaScript:void(0)" class="noData"><span class="text">中成药</span><span class="color-blue">()</span></a>&nbsp;
    <a href="javaScript:void(0)" class="noData"><span class="text">说明书</span><span class="color-red">()</span></a>&nbsp;
    <a href="javaScript:void(0)" class="jbyw"><span class="text">基药</span><span class="color-red">({{jbywCount}})</span></a>&nbsp;
    <a href="javaScript:void(0)" class="noData"><span class="text">抗菌药物</span><span class="color-blue">()</span></a>&nbsp;
    <a href="javaScript:void(0)" class="noData"><span class="text">中成药注射剂</span><span class="color-blue">()</span></a>&nbsp;
    <a href="javaScript:void(0)" class="noData"><span class="text">妊娠用药</span><span class="color-red">()</span></a>&nbsp;
    <a href="javaScript:void(0)" class="noData"><span class="text">血液制品</span><span class="color-red">()</span></a>&nbsp;
    <a href="javaScript:void(0)" class="noData"><span class="text">糖皮质激素</span><span class="color-blue">()</span></a>&nbsp;
    <a href="javaScript:void(0)" class="noData"><span class="text">能量用药</span><span class="color-blue">()</span></a>&nbsp;
    <a href="javaScript:void(0)" class="noData"><span class="text">营养用药</span><span class="color-red">()</span></a>&nbsp;
    <a href="javaScript:void(0)" class="noData"><span class="text">PPI</span><span class="color-red">()</span></a>&nbsp;
    <a href="javaScript:void(0)" class="noData"><span class="text">精麻毒放</span><span class="color-blue">()</span></a>&nbsp;
    <a href="javaScript:void(0)" class="noData"><span class="text">辅助用药</span><span class="color-blue">()</span></a>&nbsp;
    <a href="javaScript:void(0)" class="yblb"><span class="text">医保</span>(<span class="color-red">{{yblbCount}}</span>)</a>&nbsp;&nbsp;
    <a href="javaScript:void(0)" class="wbd"><span class="text">未比对</span>(<span class="color-red">{{wbdCount}}</span>)</a>&nbsp;
    <a href="javaScript:void(0)" class="ybd"><span class="text">已比对</span>(<span class="color-blue">{{ybdCount}}</span>)</a>&nbsp;&nbsp;
    <a href="javaScript:void(0)" class="wtsj"><span class="text">问题数据</span>(<span class="color-blue">{{wtsjCount}}</span>)</a>&nbsp;
    {{#if showRsyyCount}}
        <a href="javaScript:void(0)" class="rsyy"><span class="text">妊娠用药</span>(<span class="color-blue">{{rsyyCount}}</span>)</a>
    {{/if}}
</div>
<a href="javaScript:void(0)" class="download color-blue rt"><img src="./images/icon-download.png" class="icon-download">下载</a>