{{#each input}}
    <lable class="input-group">
        {{this.text}}
        <input type="text" class="input  {{this.inputClass}}">
    </lable>
{{/each}}
<a href="javaScript:void(0)" class="btn">查找</a>
<div class="search-box-rt">
    <a href="javaScript:void(0)" class="btn create-btn">生成新药分类</a>
    <a href="javaScript:void(0)" class="btn">启用新药规则</a>
</div>
<div class="search-data">
    共查找出 {{total}} 条数据：
    基药(<a href="javaScript:void(0)" class="color-blue">{{jbywCount}}</a>)&nbsp;
    医保(<a href="javaScript:void(0)" class="color-blue">{{yblbCount}}</a>)&nbsp;&nbsp;
    问题数据(<a href="javaScript:void(0)" class="color-red">{{wtsjCount}}</a>)&nbsp;
    未比对(<a href="javaScript:void(0)" class="color-red">{{wbdCount}}</a>)&nbsp;
    已比对(<a href="javaScript:void(0)" class="color-blue">{{ybdCount}}</a>)&nbsp;&nbsp;
    妊娠用药(<a href="javaScript:void(0)" class="color-blue">{{rsyyCount}}</a>)
    <a href="javaScript:void(0)" class="download color-blue"><img src="./images/icon-download.png" class="icon-download">下载</a>
</div>