{{#each tbody}}
    <tr data-id={{id}}>
        <td><div class="table-text">{{code}}</div></td>
        <td><div class="table-text">{{pzName}}</div></td>
        <td><div class="table-text">{{name}}</div></td>
        <td><div class="table-text">{{pxName}}</div></td>
        <td><div class="table-text">{{jbyw}}</div></td>
        <td><div class="table-text">{{yblb}}</div></td>
        <td><div class="table-text select-than">选择</div></td>
    </tr>
{{/each}}