{{#each ydata}}
    <tr>
        <td><div>{{codePro}}</div></td>
        <td><div>{{ypTypeSwitch ypType}}</div></td>
        <td><div>{{proName}}</div></td>
        <td><div>{{pxName}}</div></td>
        <td  class="icon-triangle"><div>{{flag4}}</div></td>
        <td><div>{{yblb}}</div></td>
        <td class="icon-triangle"><div>{{ybbh}}</div></td>
    </tr>
{{/each}}