<div>
    <ul class="content-list">
        <li>药品编码：{{codePro}}</li>
        <li>品种名称：{{ypType}}</li>
        <li>饮片名称：{{proName}}</li>
        <li>片型：{{pxName}}</li>
        <li>基药：{{flag4}}</li>
        <li>医保：{{yblb}}</li>
        <li>医保编码：{{ybbh}}</li>
    </ul>
</div>