<div class="table-diff">
    <div class="table-diff-content">
        <div class="table-diff-bar">
            <a href="#slicesStandardData" class="showThan">比对</a>|<a href="javascript:void(0)" class="showDetail">查看详情</a>|<a href="javascript:void(0)" class="cancel-than">取消比对</a>
        </div>
        <div class="table-diff-header">
            <div class="table-diff-left">
                <div class="table-diff-header">
                    <table width="100%" cellspacing="1" border="0">
                        <thead>
                            {{#each tLeftHead}}
                                <th><div>{{this}}</div></th>
                            {{/each}}
                        </thead>
                    </table>
                </div>
                <div class="table-diff-data">
                    <div class="table-diff-data-content">
                        <table width="100%" cellspacing="1" border="0">
                            <tbody>
                            {{#each ydata}}
                                <tr data-id={{id}} data-name={{drugNameFormat}}>
                                    <td><div>{{id}}</div></td>
                                    <td><div>{{drugName}}</div></td>
                                    <td><div>{{spec}}{{manufacturerName}}</div></td>
                                    <td class="convertRatio"><div><input value={{convertRatio}}></div></td>
                                    <td class="icon-triangle ymzzy" data-minUseUnit="{{minUseUnit}}"><div>{{unitName}}</div></td>
                                    <td><div>{{isOrNo isStop}}</div></td>
                                    <td title="{{timeFn createDate}}"><div>{{timeFn createDate}}</div></td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="table-diff-right">
                <div class="table-diff-right-all active">
                    <div class="table-diff-header">
                        <div class="table-diff-header-content">
                            <table cellspacing="1" border="0">
                                <thead>
                                <tr>
                                    {{#each tRightHead}}
                                        <th><div>{{this}}</div></th>
                                    {{/each}}
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="table-diff-data" style="overflow-x: hidden;">
                        <table cellspacing="1" border="0">
                            <tbody>
                            {{#each ydata}}
                                <tr>
                                    <td><div>{{codePro}}</div></td>
                                    <td><div>{{ypTypeSwitch ypType}}</div></td>
                                    <td><div>{{proName}}</div></td>
                                    <td><div>{{pxName}}</div></td>
                                    <td  class="icon-triangle"><div>{{flag4}}</div></td>
                                    <td><div>{{yblb}}</div></td>
                                    <td class="icon-triangle"><div>{{ybbh}}</div></td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="table-diff-right-single">
                    <h2 class="table-diff-single-title">标准数据</h2>
                    <div class="table-diff-single-content">
                        <div class="table-details-content-box">
                            <!--标准数据详情-->
                        </div>
                        <div class="tool">
                            <a href="javaScript:void(0)" class="btn-toggle"><i class="icon-arrow-left"></i>切换</a>
                            <a href="javaScript:void(0)" class="btn btn-cancel">取消比对</a>
                            <a href="javaScript:void(0)" class="btn-record">属性更改记录</a>
                        </div>
                        <div class="pagination">
                            <a href="javaScript:void(0)" class="pagination-prev">上一条</a>
                            <a href="javaScript:void(0)" class="pagination-next">下一条</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
