{{#each ydata}}
    <tr data-id={{id}} data-name="{{drugNameFormat}}">
        <td class="table-num">
            <div style="width: 40px">{{add @index ../tableNum}}</div>
        </td>
        <td title="{{id}}">
            <div style="width:{{divWidth ../divWidthArr 1}}px">{{id}}</div>
        </td>
        <td title="{{drugName}}">
            <div style="width:{{divWidth ../divWidthArr 2}}px">{{drugName}}</div>
        </td>
        <td title="{{spec}}{{manufacturerName}}">
            <div style="width:{{divWidth ../divWidthArr 3}}px">{{spec}}{{manufacturerName}}</div>
        </td>
        <td title="{{convertRatio}}">
            <div style="width:{{divWidth ../divWidthArr 4}}px">
                <input class="upInput" value="{{convertRatio}}" data-name="convertRatio">
            </div>
        </td>
        <td class="icon-triangle ymzzy" data-minUseUnit="{{minUseUnit}}" title="{{unitName}}">
            <div style="width:{{divWidth ../divWidthArr 5}}px">{{unitName}}</div>
        </td>
        <td class="icon-triangle table-diff-data-td-select">
            <div class="value showValue" style="width:{{divWidth ../divWidthArr 6}}px">
                {{{isStopOrNot isStop 'isStop'}}}
            </div>
        </td>
        <td title="{{timeFn createDate}}">
            <div style="width:{{divWidth ../divWidthArr 7}}px">{{timeFn createDate}}</div>
        </td>
    </tr>
{{/each}}