<td title="{{codePro}}"><div>{{codePro}}</div></td>
<td title="{{ypTypeSwitch ypType}}"><div>{{ypTypeSwitch ypType}}</div></td>
<td title="{{proName}}"><div>{{proName}}</div></td>
<td title="{{pxName}}"><div>{{pxName}}</div></td>
<td  class="icon-triangle" title="{{isOrNo flag4}}"><div>{{isOrNo flag4}}</div></td>
<td title="{{isOrNo yblb}}"><div>{{isOrNo yblb}}</div></td>
<td class="icon-triangle" title="{{ybbh}}"><div>{{ybbh}}</div></td>