{{#each ydata}}
    <tr data-id={{id}} data-name={{drugNameFormat}}>
        <td><div>{{id}}</div></td>
        <td><div>{{drugName}}</div></td>
        <td><div>{{spec}}{{manufacturerName}}</div></td>
        <td><div><input value={{convertRatio}}></div></td>
        <td class="icon-triangle ymzzy" data-minUseUnit="{{minUseUnit}}"><div>{{unitName}}</div></td>
        <td><div>{{isOrNo isStop}}</div></td>
        <td title="{{timeFn createDate}}"><div>{{timeFn createDate}}</div></td>
    </tr>
{{/each}}