<div class="table-diff">
    <div class="table-diff-content">
        <div class="table-diff-header">
            <div class="table-diff-header-left">
                <table>
                    <theader>
                        <tr>
                            <th>
                                医院药品ID
                            </th>
                            <th>
                                药品名称
                            </th>
                            <th>
                                规格厂家
                            </th>
                            <th>
                                转换比
                            </th>
                            <th>
                                门诊/住院单位
                            </th>
                            <th>
                                是否停用
                            </th>
                            <th>
                                修订时间
                            </th>
                        </tr>
                    </theader>
                </table>
            </div>
            <div class="table-diff-header-right">
                <table>
                    <theader>
                        <tr>
                            <th>
                                药品编码
                            </th>
                            <th>
                                药品类型
                            </th>
                            <th>
                                药品名称
                            </th>
                            <th>
                                剂型
                            </th>
                            <th>
                                规格
                            </th>
                            <th>
                                转换比
                            </th>
                            <th>
                                企业简称
                            </th>
                            <th>
                                批准文号/注册证号
                            </th>
                            <th>
                                基药
                            </th>
                            <th>
                                重点药物监控
                            </th>
                            <th>
                                营养用药
                            </th>
                            <th>
                                中成药注射剂
                            </th>
                            <th>
                                精麻毒放
                            </th>
                            <th>
                                妊娠用药
                            </th>
                            <th>
                                抗菌药物
                            </th>
                            <th>
                                DDD值
                            </th>
                            <th>
                                给药途径(不计算强度)
                            </th>
                            <th>
                                是否计算强度
                            </th>
                            <th>
                                分级
                            </th>
                            <th>
                                人社分类
                            </th>
                            <th>
                                药理分类
                            </th>
                            <th>
                                是否PPI
                            </th>
                        </tr>
                    </theader>
                </table>
            </div>
        </div>
        <div class="table-diff-data">
            <div class="table-diff-data-left">
                <table>
                    <theader>
                        {{#each ydata}}
                            <tr>
                                <th>{{yid}}</th>
                                <th>{{yypmc}}</th>
                                <th>{{yggcj}}</th>
                                <th>{{yzhb}}</th>
                                <th>{{ymzzy}}</th>
                                <th>{{yty}}</th>
                                <th>{{yxdrq}}</th>
                            </tr>
                        {{/each}}
                    </theader>
                </table>
            </div>
            <div class="table-diff-data-right">
                <table>
                    <tbody>
                        {{#each bdata}}
                            <tr>
                                <td>{{bbm}}</td>
                                <td>{{blx}}</td>
                                <td>{{bypmc}}</td>
                                <td>{{bjx}}</td>
                                <td>{{bgg}}</td>
                                <td>{{bzhb}}</td>
                                <td>{{bqyjc}}</td>
                                <td>{{bpzwh}}</td>
                                <td>{{bjy}}</td>
                                <td>{{bzdjkyw}}</td>
                                <td>{{byyyy}}</td>
                                <td>{{bzcyzsj}}</td>
                                <td>{{bjmdf}}</td>
                                <td>{{brsyy}}</td>
                                <td>{{bkjyw}}</td>
                                <td>{{bddd}}</td>
                                <td>{{bgytj}}</td>
                                <td>{{bjsqd}}</td>
                                <td>{{bfj}}</td>
                                <td>{{brsfl}}</td>
                                <td>{{bylfl}}</td>
                                <td>{{bppi}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
