<td title="{{codePro}}"><div>{{codePro}}</div></td>
<td title="{{ypTypeSwitch ypType}}"><div>{{ypTypeSwitch ypType}}</div></td>
<td title="{{proName}}"><div>{{proName}}</div></td>
<td title="{{prepName}}"><div>{{prepName}}</div></td>
<td title="{{spec}}"><div>{{spec}}</div></td>
<td title="{{fConvertRatio}}"><div>{{fConvertRatio}}</div></td>
<td title="{{facAbbrF}}"><div>{{facAbbrF}}</div></td>
<td title="{{pzwh}}"><div>{{pzwh}}</div></td>
<td title="{{flag4}}"><div>{{flag4}}</div></td>
<td title="{{jkyw}}"><div>{{jkyw}}</div></td>
<td title="{{yyyy}}"><div>{{yyyy}}</div></td>
<td title="{{isZcyzsj}}"><div>{{isZcyzsj}}</div></td>
<td title="{{jmdf}}"><div>{{jmdf}}</div></td>
<td title="{{pregnancyLevel}}"><div>{{pregnancyLevel}}</div></td>
<td title="{{flag1}}"><div>{{flag1}}</div></td>
<td title="{{ddd}}"><div>{{ddd}}</div></td>
<td title="{{adminRouteExclude}}"><div>{{adminRouteExclude}}</div></td>
<td title="{{isCalcKjyw}}"><div>{{isCalcKjyw}}</div></td>
<td title="{{kjywType}}"><div>{{kjywType}}</div></td>
<td title="{{rbflName}}"><div>{{rbflName}}</div></td>
<td title="{{ylflName}}"><div>{{ylflName}}</div></td>
<td title="{{flag5}}"><div>{{flag5}}</div></td>