<div class="table-diff">
    <div class="table-diff-content">
        <div class="table-diff-header">
            <div class="table-diff-left">
                <div class="table-diff-bar">
                    <a href="#standardData" class="showThan">比对</a><span>|</span><a href="javascript:void(0)" class="showDetail">查看详情</a><span>|</span><a href="javascript:void(0)" class="cancel-than">取消比对</a>
                </div>
                <div class="table-diff-header">
                    <table width="100%" cellspacing="0" border="0">
                        <thead>
                            <th style="width: 40px"><div style="width: 40px">序号</div></th>
                            {{#each tLeftHead}}
                                <th><div>{{this}}</div></th>
                            {{/each}}
                        </thead>
                    </table>
                </div>
                <div class="table-diff-data">
                    <div class="table-diff-data-content">
                        <table width="100%" cellspacing="0" border="0">
                            <tbody>
                                {{#each ydata}}
                                    <tr data-id="{{id}}" data-name="{{drugNameFormat}}"  data-fncName="{{manufacturerName}}">
                                        <td class="table-num"><div>{{@index}}</div></td>
                                        <td class="table-diff-drugId" title="{{id}}"><div>{{id}}</div></td>
                                        <td title="{{drugName}}"><div>{{drugName}}</div></td>
                                        <td title="{{specName}} {{manufacturerName}}"><div>{{specName}} {{manufacturerName}}</div></td>
                                        <td title="{{convertRatio}}">
                                            <div><input class="upInput {{convertRatioFn convertRatio fConvertRatio}}" value="{{convertRatio}}" data-name="convertRatio"></div>
                                        </td>
                                        <td class="icon-triangle ymzzy" data-minUseUnit="{{minUseUnit}}">
                                            <div>{{{unitInput unitOps}}}</div>
                                        </td>
                                        <td class="icon-triangle table-diff-data-td-select">{{{isStopOrNot isStop "isStop"}}}</td>
                                        <td title="{{timeFn updateDate}}"><div>{{timeFn updateDate}}</div></td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="table-diff-right">
                <div class="table-diff-right-all active">
                    <div class="table-diff-header">
                        <div class="table-diff-header-content">
                            <table cellspacing="0" border="0">
                                <thead>
                                    <tr>
                                    {{#each tRightHead}}
                                        <th><div>{{this}}</div></th>
                                    {{/each}}
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="table-diff-data">
                        <table cellspacing="0" border="0">
                            <tbody>
                                {{#each ydata}}
                                    <tr>
                                        <td class="codePro" title="{{codePro}}"><div>{{codePro}}</div></td>
                                        <td class="icon-triangle table-diff-data-td-select" title="{{ypTypeSelect ypType 0}}">
                                            {{{ypTypeSelect ypType}}}
                                        </td>
                                        <td title="{{proName}}"><div>{{proName}}</div></td>
                                        <td title="{{prepName}}"><div>{{prepName}}</div></td>
                                        <td title="{{spec}}"><div>{{spec}}</div></td>
                                        <td title="{{fConvertRatio}}"><div>{{fConvertRatio}}</div></td>
                                        <td title="{{facAbbrF}}"><div>{{facAbbrF}}</div></td>
                                        <td title="{{pzwh}}"><div>{{pzwh}}</div></td>
                                        <td title="{{instruction}}"><div>{{isNull instruction}}</div></td>
                                        <td title="{{smsDate}}"><div>{{smsDate}}</div></td>
                                        <td class="icon-triangle table-diff-data-td-select" title="{{flag4Select flag4 0}}">
                                            {{{flag4Select flag4}}}
                                        </td>
                                        <td class="icon-triangle table-diff-data-td-select" title="{{flag1Select flag1 0}}">
                                            {{{flag1Select flag1}}}
                                        </td>
                                        <td class="icon-triangle table-diff-data-td-select">
                                            <div><input class="upInput" value="{{ddd}}" data-name="ddd"></div>
                                        </td>
                                        <td class="icon-triangle table-diff-data-td-select" title="{{kjywTypeSelect kjywType 0}}">
                                            {{{kjywTypeSelect kjywType}}}
                                        </td>
                                        <td class="icon-triangle table-diff-data-td-select"><div>{{{isStopOrNot isCalcKjyw 'isCalcKjyw'}}}</div></td>
                                        <td class="icon-triangle adminRouteExclude" title="{{adminRouteExclude}}"><div>{{adminRouteExclude}}</div></td>
                                        <td class="icon-triangle table-diff-data-td-select"><div>{{{isStopOrNot isZcyzsj 'isZcyzsj'}}}</div></td>
                                        <td class="icon-triangle table-diff-data-td-select">
                                            {{{pregnancyLevelSelect pregnancyLevel}}}
                                        </td>
                                        <td class="icon-triangle table-diff-data-td-select"><div>{{{isStopOrNot bloodPro 'bloodPro'}}}</div></td>
                                        <td class="icon-triangle table-diff-data-td-select"><div>{{{isStopOrNot tpzjs 'tpzjs'}}}</div></td>
                                        <td class="icon-triangle table-diff-data-td-select"><div>{{{isStopOrNot energy 'energy'}}}</div></td>
                                        <td class="icon-triangle table-diff-data-td-select"><div>{{{isStopOrNot yyyy 'yyyy'}}}</div></td>
                                        <td class="icon-triangle table-diff-data-td-select"><div>{{{isStopOrNot flag5 'flag5'}}}</div></td>
                                        <td class="icon-triangle table-diff-data-td-select" title="{{jmdfSelect jmdf 0}}">
                                           {{{jmdfSelect jmdf}}}
                                        </td>
                                        <td class="icon-triangle table-diff-data-td-select"><div>{{{isStopOrNot jkyw 'jkyw'}}}</div></td>
                                        <td class="icon-triangle table-diff-data-td-select" title="{{yblbSelect yblb 0}}">
                                            {{{yblbSelect yblb}}}
                                        </td>
                                        <td class="icon-triangle table-diff-data-td-select" title="{{ybbh}}">
                                            <div><input class="upInput" value="{{ybbh}}" data-name="ybbh"></div>
                                        </td>
                                        <td class="icon-triangle table-diff-data-td-select" title="{{ypid}}">
                                            <div><input class="upInput" value="{{ypid}}" data-name="ypid"></div>
                                        </td>
                                        <td class="icon-triangle table-diff-data-td-select" title="{{pzCode}}">
                                            <div><input class="upInput" value="{{pzCode}}" data-name="pzCode"></div>
                                        </td>
                                        <td title="{{rbflName}}"><div>{{rbflName}}</div></td>
                                        <td title="{{ylflName}}"><div>{{ylflName}}</div></td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="table-diff-right-single">
                    <h2 class="table-diff-single-title">标准数据</h2>
                    <div class="table-diff-single-content">
                        <div class="table-details-content-box">
                            <!--标准数据详情-->
                        </div>
                        <div class="tool">
                            <a href="javaScript:void(0)" class="btn-toggle"><i class="icon-arrow-left"></i>切换</a>
                            <a href="javaScript:void(0)" class="btn btn-cancel">取消比对</a>
                            <a href="javaScript:void(0)" class="btn-record">属性更改记录</a>
                        </div>
                        <div class="pagination">
                            <a href="javaScript:void(0)" class="pagination-prev">上一条</a>
                            <a href="javaScript:void(0)" class="pagination-next">下一条</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scroll-loading">加载中...</div>
        </div>
        <div class="loading-wrap">
            <div class="loading">
                <img src="./images/loading.gif" class="loading-img">
            </div>
        </div>
        <div class="prompt">保存成功</div>
    </div>
</div>
