{{#each ydata}}
    <tr>
        <td><div>{{codePro}}</div></td>
        <td class="icon-triangle"><div>{{ypType}}</div></td>
        <td><div>{{proName}}</div></td>
        <td><div>{{prepName}}</div></td>
        <td><div>{{spec}}</div></td>
        <td><div>{{fConvertRatio}}</div></td>
        <td><div>{{facAbbrF}}</div></td>
        <td><div>{{pzwh}}</div></td>
        <td><div>{{flag4}}</div></td>
        <td><div>{{jkyw}}</div></td>
        <td><div>{{yyyy}}</div></td>
        <td><div>{{isZcyzsj}}</div></td>
        <td><div>{{jmdf}}</div></td>
        <td><div>{{pregnancyLevel}}</div></td>
        <td><div>{{flag1}}</div></td>
        <td><div>{{ddd}}</div></td>
        <td><div>{{adminRouteNotDdd}}</div></td>
        <td><div>{{isDdd}}</div></td>
        <td><div>{{kjywType}}</div></td>
        <td><div>{{rbflName}}</div></td>
        <td><div>{{ylflName}}</div></td>
        <td><div>{{flag5}}</div></td>
    </tr>
{{/each}}