{{#each ydata}}
    <tr data-id="{{id}}" data-name="{{drugNameFormat}}"  data-fncName="{{manufacturerName}}">
        <td class="table-num"><div style="width:40px">{{add @index ../tableNum}}</div></td>
        <td class="table-diff-drugId" title="{{id}}"><div>{{id}}</div></td>
        <td title="{{drugName}}"><div>{{drugName}}</div></td>
        <td title="{{specName}} {{manufacturerName}}"><div>{{specName}} {{manufacturerName}}</div></td>
        <td title="{{convertRatio}}">
            <div><input class="upInput {{convertRatioFn convertRatio fConvertRatio}}" value="{{convertRatio}}" data-name="convertRatio"></div>
        </td>
        <td class="icon-triangle ymzzy" data-minUseUnit="{{minUseUnit}}">
            <div>{{{unitInput unitOps}}}</div>
        </td>
        <td class="icon-triangle table-diff-data-td-select">{{{isStopOrNot isStop "isStop"}}}</td>
        <td title="{{timeFn updateDate}}"><div>{{timeFn updateDate}}</div></td>
    </tr>
{{/each}}
