{{#each ydata}}
    <tr data-id="{{id}}" data-name="{{drugNameFormat}}" data-fncName="{{manufacturerName}}">
        <td class="table-diff-drugId" title="{{id}}"><div>{{id}}</div></td>
        <td title="{{drugName}}"><div>{{drugName}}</div></td>
        <td title="{{specName}} {{manufacturerName}}"><div>{{specName}} {{manufacturerName}}</div></td>
        <td class="convertRatio" title="{{convertRatio}}"><div><input class="{{convertRatioFn convertRatio fConvertRatio}}" value={{convertRatio}}></div></td>
        <td class="icon-triangle ymzzy" data-minUseUnit="{{minUseUnit}}">
            <div>
                {{{unitInput unitOps}}}
            </div>
        </td>
        <td><div>{{isOrNo isStop}}</div></td>
        <td title="{{timeFn updateDate}}"><div>{{timeFn updateDate}}</div></td>
    </tr>
{{/each}}