<div class="table-diff">
    <div class="table-diff-content">
        <div class="table-diff-bar">
            <a href="#" id="showThan">比对</a>|<a href="javascript:void(0)" id="showDetail">查看详情</a>|<a href="#">取消比对</a>
        </div>
        <div class="table-diff-header">
            <div class="table-diff-left">
                <div class="table-diff-header">
                    <table width="100%" cellspacing="1" border="0">
                        <thead>
                            <tr>
                                <th><div>医院药品ID</div></th>
                                <th><div>药品名称</div></th>
                                <th><div>规格厂家</div></th>
                                <th><div>转换比</div></th>
                                <th><div>门诊/住院单位</div></th>
                                <th><div>是否停用</div></th>
                                <th><div>修订时间</div></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="table-diff-data">
                    <div class="table-diff-data-content">
                        <table width="100%" cellspacing="1" border="0">
                            <tbody>
                                {{#each ydata}}
                                    <tr data-id={{id}}>
                                        <td><div>{{yid}}</div></td>
                                        <td><div>{{yypmc}}</div></td>
                                        <td><div>{{yggcj}}</div></td>
                                        <td><div>{{yzhb}}</div></td>
                                        <td><div>{{ymzzy}}</div></td>
                                        <td><div>{{yty}}</div></td>
                                        <td><div>{{yxdrq}}</div></td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="table-diff-right">
                <div class="table-diff-right-all active">
                    <div class="table-diff-header">
                        <div class="table-diff-header-content">
                            <table cellspacing="1" border="0">
                                <thead>
                                    <tr>
                                        <th><div>药品编码</div></th>
                                        <th><div>药品类型</div></th>
                                        <th><div>药品名称</div></th>
                                        <th><div>剂型</div></th>
                                        <th><div>规格</div></th>
                                        <th><div>转换比</div></th>
                                        <th><div>企业简称</div></th>
                                        <th><div>批准文号/注册证号</div></th>
                                        <th><div>基药</div></th>
                                        <th><div>重点药物监控</div></th>
                                        <th><div>营养用药</div></th>
                                        <th><div>中成药注射剂</div></th>
                                        <th><div>精麻毒放</div></th>
                                        <th><div>妊娠用药</div></th>
                                        <th><div>抗菌药物</div></th>
                                        <th><div>DDD值</div></th>
                                        <th><div>给药途径(不计算强度)</div></th>
                                        <th><div>是否计算强度</div></th>
                                        <th><div>分级</div></th>
                                        <th><div>人社分类</div></th>
                                        <th><div>药理分类</div></th>
                                        <th><div>是否PPI</div></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="table-diff-data">
                        <table cellspacing="1" border="0">
                            <tbody>
                                {{#each bdata}}
                                    <tr>
                                        <td><div>{{bbm}}</div></td>
                                        <td><div><input value={{blx}} /></div></td>
                                        <td><div>{{bypmc}}</div></td>
                                        <td><div>{{bjx}}</div></td>
                                        <td><div>{{bgg}}</div></td>
                                        <td><div>{{bzhb}}</div></td>
                                        <td><div>{{bqyjc}}</div></td>
                                        <td><div>{{bpzwh}}</div></td>
                                        <td><div>{{bjy}}</div></td>
                                        <td><div>{{bzdjkyw}}</div></td>
                                        <td><div>{{byyyy}}</div></td>
                                        <td><div>{{bzcyzsj}}</div></td>
                                        <td><div>{{bjmdf}}</div></td>
                                        <td><div>{{brsyy}}</div></td>
                                        <td><div>{{bkjyw}}</div></td>
                                        <td><div>{{bddd}}</div></td>
                                        <td><div>{{bgytj}}</div></td>
                                        <td><div>{{bjsqd}}</div></td>
                                        <td><div>{{bfj}}</div></td>
                                        <td><div>{{brsfl}}</div></td>
                                        <td><div>{{bylfl}}</div></td>
                                        <td><div>{{bppi}}</div></td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="table-diff-right-single">
                    <h2 class="table-diff-single-title">标准数据</h2>
                    <div class="table-diff-single-content">
                        <ul class="content-list">
                            <li>药品名称：甲泼尼龙片</li>
                            <li>剂型：素片</li>
                            <li>规格：mg</li>
                            <li>转换比：24</li>
                            <li>药品编码：X120100-100101-A644-01-21-0004920-01</li>
                            <li>含量：4mg</li>
                            <li>装量：无</li>
                            <li>最小使用单位：mg</li>
                            <li>最小包装单位：盒</li>
                            <li>说明书：有</li>
                            <li>说明书版本：2007-01-09</li>
                            <li>中成药注射剂：否</li>
                            <li>企业简称：天津天药</li>
                            <li>批准文号/注册证号：国药准字H20020224</li>
                        </ul>
                        <ul class="content-list">
                            <li class="input-group">药品类型: <input type="text" class="input"></li>
                            <li class="input-group">医保: <input type="text" class="input"></li>
                            <li class="input-group">医保编码:<input type="text" class="input"></li>
                            <li class="input-group">基药:<input type="text" class="input"></li>
                            <li class="input-group">重点监控药物:<input type="text" class="input"></li>
                            <li class="input-group">营养用药:<input type="text" class="input"></li>
                            <li class="input-group">血液制品:<input type="text" class="input"></li>
                            <li class="input-group">糖皮质激素:<input type="text" class="input"></li>
                            <li class="input-group">能量用药:<input type="text" class="input"></li>
                            <li class="input-group">PPI（质子泵抑制剂）:<input type="text" class="input"></li>
                            <li class="input-group">中成药注射剂:<input type="text" class="input"></li>
                            <li class="input-group">精麻毒放:<input type="text" class="input"></li>
                            <li class="input-group">妊娠用药:<input type="text" class="input"></li>
                            <li class="input-group">抗菌药物:<input type="text" class="input"></li>
                            <li class="input-group">抗菌药物分级:<input type="text" class="input"></li>
                            <li class="input-group">抗菌药物分类:<input type="text" class="input"></li>
                            <li class="input-group">DDD值:<input type="text" class="input"></li>
                            <li class="input-group">给药途径不计算强度:<input type="text" class="input"></li>
                            <li class="input-group">是否计算强度:<input type="text" class="input"></li>
                            <li class="input-group">YPID:<input type="text" class="input"></li>
                            <li class="input-group">品种代码:<input type="text" class="input"></li>
                        </ul>
                        <ul class="content-list">
                            <li>人社分类：系统性激素制剂，不含性激素和胰岛素-全身用皮质激素类-全身用皮质激素的单方制剂-糖皮质激素类</li>
                            <li>药理分类：内分泌系统用药-肾上腺皮质激素-糖皮质激素-中效糖皮质激素</li>
                        </ul>
                        <div class="tool">
                            <a href="javaScript:void(0)" class="btn-toggle">切换</a>
                            <a href="javaScript:void(0)" class="btn btn-cancel">取消比对</a>
                            <a href="javaScript:void(0)" class="btn-record">属性更改记录</a>
                        </div>
                        <div class="pagination">
                            <a href="javaScript:void(0)" class="pagination-prev">上一条</a>
                            <a href="javaScript:void(0)">下一条</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
