<a href="javascript:void(0)" class="goback"><i class="icon-arrow-left"></i>返回</a>
<div class="add-search-than">
    {{#each input}}
        <lable class="input-group">
            {{this.text}}
            <input type="text" class="input {{this.inputClass}}">
        </lable>
    {{/each}}
    <a href="javaScript:void(0)" class="btn find-add-than">查找</a>
</div>
<div class="add-than-table">
    <div class="than-thead">
        <table class="table">
            <tr class="thead">
                {{#each thead}}
                    <td><div class="table-text">{{this}}</div></td>
                {{/each}}
            </tr>
        </table>
    </div>
    <div class="than-tbody-wrap">
        <div class="than-tbody add-than-tbody">
            <table class="table">
                {{#each tbody}}
                    <tr data-id="{{id}}">
                        <td title="{{codePro}}"><div class="table-text codePro">{{codePro}}</div></td>
                        <td title="{{name5}}"><div class="table-text name">{{name5}}</div></td>
                        <td title="{{flmc}}"><div class="table-text">{{flmc}}</div></td>
                        <td title="{{spec}}"><div class="table-text spec">{{spec}}</div></td>
                        <td title="{{manufacturerName}}"><div class="table-text manufacturerName">{{manufacturerName}}</div></td>
                        <td title="{{pzwh}}"><div class="table-text pzwh">{{pzwh}}</div></td>
                        <td><div class="table-text add-than-info">新增</div></td>
                    </tr>
                {{/each}}
            </table>
        </div>
        <div class="loading-wrap">
            <div class="loading">
                <img src="./images/loading.gif" class="loading-img">
            </div>
        </div>
    </div>
</div>