<a href="javascript:void(0)" class="goback"><i class="icon-arrow-left"></i>返回</a>
<div class="add-search-than">
    <div class="lf">
        {{#each input}}
            <lable class="input-group">
                {{this.text}}
                <input type="text" class="input {{this.inputClass}}">
            </lable>
        {{/each}}
    </div>
    <a href="javaScript:void(0)" class="btn find-add-than">查找</a>
</div>
<div class="add-than-table">
    <div style="background: #4EAADC">
        <div class="than-thead-wrap">
            <div class="than-thead">
                <table class="table">
                    <tr class="thead">
                        {{#each thead}}
                            <td>
                                <div class="table-text">{{this}}</div>
                            </td>
                        {{/each}}
                        <td>
                            <div style="text-align: center">操作</div>
                        </td>
                    </tr>
                </table>
            </div>
    </div>
    </div>
    <div class="than-tbody-wrap">
        <div class="than-tbody add-than-tbody">
            <table class="table">
                {{#each tbody}}
                    <tr data-id="{{id}}">
                        <td title="{{codePro}}"><div class="table-text codePro">{{codePro}}</div></td>
                        <td title="{{name19}}"><div class="table-text name">{{name19}}</div></td>
                        <td title="{{nameCnF}}"><div class="table-text nameCnF">{{nameCnF}}</div></td>
                        <td title="{{prepMin}}"><div class="table-text prepMin">{{prepMin}}</div></td>
                        <td title="{{spec}}"><div class="table-text spec">{{spec}}</div></td>
                        <td title="{{specProperty}}"><div class="table-text specProperty">{{specProperty}}</div></td>
                        <td title="{{manufacturerName}}"><div class="table-text manufacturerName">{{manufacturerName}}</div></td>
                        <td title="{{pzwh}}"><div class="table-text pzwh">{{pzwh}}</div></td>
                        <td><div class="table-text add-than-info">新增</div></td>
                    </tr>
                {{/each}}
            </table>
        </div>
        <div class="loading-wrap">
            <div class="loading">
                <img src="./images/loading.gif" class="loading-img">
            </div>
        </div>
    </div>
</div>