{{#each tbody}}
    <tr data-id="{{id}}">
        <td title="{{codePro}}"><div class="table-text codePro">{{codePro}}</div></td>
        <td title="{{name5}}"><div class="table-text name">{{name5}}</div></td>
        <td title="{{flmc}}"><div class="table-text">{{flmc}}</div></td>
        <td title="{{spec}}"><div class="table-text spec">{{spec}}</div></td>
        <td title="{{manufacturerName}}"><div class="table-text manufacturerName">{{manufacturerName}}</div></td>
        <td title="{{pzwh}}"><div class="table-text pzwh">{{pzwh}}</div></td>
        <td><div class="table-text add-than-info">新增</div></td>
    </tr>
{{/each}}