<table class="table">
    {{#each tbody}}
        <tr data-id="{{id}}">
            <td title="{{codePro}}"><div class="table-text codePro">{{codePro}}</div></td>
            <td title="{{name19}}"><div class="table-text name">{{name19}}</div></td>
            <td title="{{nameCnF}}"><div class="table-text nameCnF">{{nameCnF}}</div></td>
            <td title="{{prepMin}}"><div class="table-text prepMin">{{prepMin}}</div></td>
            <td title="{{spec}}"><div class="table-text spec">{{spec}}</div></td>
            <td title="{{specProperty}}"><div class="table-text specProperty">{{specProperty}}</div></td>
            <td title="{{manufacturerName}}"><div class="table-text manufacturerName">{{manufacturerName}}</div></td>
            <td title="{{pzwh}}"><div class="table-text pzwh">{{pzwh}}</div></td>
            <td><div class="table-text add-than-info">新增</div></td>
        </tr>
    {{/each}}
</table>
<div class="scroll-loading">加载中...</div>