<table class="table">
    {{#each tbody}}
        <tr data-id="{{id}}">
            <td title="{{codePro}}"><div class="table-text codePro">{{codePro}}</div></td>
            <td title="{{name19}}"><div class="table-text name">{{name19}}</div></td>
            <td title="{{name_cn_f}}"><div class="table-text">{{name_cn_f}}</div></td>
            <td title="{{perp_min}}"><div class="table-text">{{perp_min}}</div></td>
            <td title="{{spec}}"><div class="table-text spec">{{spec}}</div></td>
            <td title="{{spec_property}}"><div class="table-text spec">{{spec_property}}</div></td>
            <td title="{{manufacturerName}}"><div class="table-text manufacturerName">{{manufacturerName}}</div></td>
            <td title="{{pzwh}}"><div class="table-text pzwh">{{pzwh}}</div></td>
            <td><div style="width:30px;" class="table-text add-than-info">新增</div></td>
        </tr>
    {{/each}}
</table>
<div class="scroll-loading">加载中...</div>