{{#each tbody}}
    <tr data-id="{{id}}">
        <td title="{{codePro}}"><div style="width:{{divWidth ../divWidthArr 0}}px" class="table-text codePro">{{codePro}}</div></td>
        <td title="{{name19}}"><div style="width:{{divWidth ../divWidthArr 1}}px" class="table-text name">{{name19}}</div></td>
        <td title="{{nameCnF}}"><div style="width:{{divWidth ../divWidthArr 2}}px" class="table-text nameCnF">{{nameCnF}}</div></td>
        <td title="{{prepMin}}"><div style="width:{{divWidth ../divWidthArr 3}}px" class="table-text prepMin">{{prepMin}}</div></td>
        <td title="{{spec}}"><div style="width:{{divWidth ../divWidthArr 4}}px" class="table-text spec">{{spec}}</div></td>
        <td title="{{specProperty}}"><div style="width:{{divWidth ../divWidthArr 5}}px" class="table-text specProperty">{{specProperty}}</div></td>
        <td title="{{manufacturerName}}"><div style="width:{{divWidth ../divWidthArr 6}}px" class="table-text manufacturerName">{{manufacturerName}}</div></td>
        <td title="{{pzwh}}"><div style="width:{{divWidth ../divWidthArr 7}}px" class="table-text pzwh">{{pzwh}}</div></td>
        <td><div style="width:{{divWidth ../divWidthArr 8}}px" class="table-text add-than-info">新增</div></td>
    </tr>
{{/each}}