{{#each tbody}}
    <tr data-id="{{id}}">
        <td><div class="table-text codePro">{{codePro}}</div></td>
        <td><div class="table-text name">{{name5}}</div></td>
        <td><div class="table-text">{{flmc}}</div></td>
        <td><div class="table-text spec">{{spec}}</div></td>
        <td><div class="table-text manufacturerName">{{manufacturerName}}</div></td>
        <td><div class="table-text pzwh">{{pzwh}}</div></td>
        <td><div class="table-text add-than-info">新增</div></td>
    </tr>
{{/each}}